version: '3.8'

services:
  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8081:8081"
    environment:
      - JWT_SECRET=test_secret_key_123
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8081/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  telegram-bot:
    build: ./telegram-bot
    container_name: telegram-bot
    environment:
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - AUTH_SERVICE_URL=http://auth-service:8081
    networks:
      - app-network
    depends_on:
      - auth-service

  # Добавь позже:
  # core-service:
  # web-client:

networks:
  app-network:
    driver: bridge
